spring:
  config:
    activate:
      on-profile: local
    import: "optional:file:.env[.properties]"

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
    hikari:
      pool-name: workus-pool
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 300000
      connection-timeout: 30000

  data:
    redis:
      host: localhost
      port: 16379

  jpa:
    properties:
      hibernate:
        show_sql: true
        generate_statistics: false

  quartz:
    properties:
      org:
        quartz:
          dataSource:
            quartzDS:
              URL: ${DB_URL}
              user: ${DB_USER}
              password: ${DB_PASSWORD}
              maxConnections: 10

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
